{% extends 'home/base.html' %}

{% block content %}
    <h1 class="shadow-lg text-center">App Hotel</h1>
    <div class="container mt-lg-3">
        <h3 class="pb-lg-3">
            {% block title %}Hotel
            {% endblock title %}
        </h3>

    
        <div class="d-grid gap-3">
                
            <a href="{% url 'hotel:tipohabitacion_create' %}"
                class="btn btn-primary">Crear tipo de habitacion</a>
               
            <a href="{% url 'hotel:habitacion_create' %}"
                class="btn btn-primary">Crear Habitacion</a>

            <a href="{% url 'hotel:reserva_create' %}"
                class="btn btn-primary">Reservar</a>
            <br>

        </div>

        <div class="d-grid gap-3">
            <a href="{% url 'home:index' %}" class="btn btn-info">Ir a Inicio</a>
        </div>
    </div>
{% endblock content %}