{% extends 'home/index.html' %}

{% block title %}App Blog{% endblock title %}

{% block content %}
    <div class="container mt-lg-3">
        <h2 class="display-6 mb-4">Deja tu reseña del hotel!</h3>
        <div class="d-grid gap-3">
            <div class="card mb-4">
                <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                <div class="card-body">
                    <div class="small text-muted">January 1, 2023</div>
                    <h2 class="card-title">Featured Post Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
        </div>

        {% url 'home:index' as url %}
        {% include 'home/index_back.html' with link=url %}
    </div>
{% endblock content %}