{% extends 'home/base.html' %}

{% block content %}
    <h2 class="display-5 mb-4">Detalle de Reseña</h2>

    <div class="d-grid gap-3">
        <div class="card mb-4 mx-5">
            
            <div class="card-body">
                <h2 class="card-title border-bottom">{{ object.titulo}}</h2>
                <p class="small text-muted">{{ object.fecha}} por <strong>{{ object.autor}}</strong></p>
                <p class="card-text"><strong>Calificacion:</strong> 
                    {% if object.calificacion == 1 %}
                        ⭐
                    {% elif object.calificacion == 2 %}
                        ⭐⭐
                    {% elif object.calificacion == 3 %}
                        ⭐⭐⭐
                    {% elif object.calificacion == 4 %}
                        ⭐⭐⭐⭐
                    {% else %}
                        ⭐⭐⭐⭐⭐
                    {% endif %}
                </p>
                <p class="card-text">{{ object.contenido }}</p>
            </div>
            {% if object.imagen %}
                <img src="{{ object.imagen.url }}" class="card-img-bottom border-top" style="height: 400px; object-fit: contain;" alt="Imafen reseña">
            {% endif %}
        </div>
    </div>
    {% url 'blog:reseña_list' as url %}
    {% include 'home/index_back.html' with link=url %}
{% endblock content %}

